$fonts-color: #cfd8dc;

nav {
  background-color: #7b1fa2;
  width: 100%;
  height: 3rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;

    .logoBrand {
      text-transform: uppercase;
      text-decoration: none;
      color: $fonts-color;
      font-size: 24px;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }

    .repo {
      font-size: 18px;
      text-decoration: none;
      color: $fonts-color;
      cursor: pointer;
    }
  }
}
