.movies {
  margin: 0;
  padding: 30px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, 275px);
  justify-items: center;
  justify-content: center;

  @media screen and (max-width: 650px) {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 250px);
  }

  @media screen and (max-width: 590px) {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 275px);
  }
}

.containerNF {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.nothingFound {
  text-transform: uppercase;
  color: #cfd8dc;
  font-size: 30px;
  margin: 0;
  text-align: center;

  @media screen and (max-width: 650px) {
    font-size: 24px;
  }
}
