@font-face {
  font-family: 'Efesto';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./Efesto-Regular\ Otf.otf') format('otf'),
    url('./Efesto-Regular\ ttf.ttf') format('ttf');
}
